Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [5]:
def is_symmetrical(a):
    if a==a[::-1]:
        print('True')
    else:
        print('False')
    
n=input()
is_symmetrical(n)

112112
False

Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples

multiply_nums(&quot;2, 3&quot;) ➞ 6

multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24

multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0

multiply_nums(&quot;10, -2&quot;) ➞ -20

In [10]:
def multiply_nums(lst):
    b=1
    for i in lst:
        b=b*i
    return b
l=list(map(int,input("input comma seprated values ").split(',')))
multiply_nums(l)

input comma seprated values 10,-2

-20

Question 3
Create a function that squares every digit of a number.
Example

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes
The function receives an integer and must return an integer.

In [27]:
def square_digits(n):
    j=str(n)
    l=[]
    k=0
    for i in j:
        k=int(i)*int(i)
        l.append(str(k))
    k=''.join(l)
    return int(k)
n=int(input())
square_digits(n)

2483

416649

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [36]:
def setify(lst):
    k=list(set(lst))
    k.sort()
    return k
k=list(map(int,input("input comma seprated values ").split(',')))
setify(k)

input comma seprated values 6,7,10,2,10,66,6,7,5

[2, 5, 6, 7, 10, 66]

Question 5
Create a function that returns the mean of all digits.
Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes

 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.

In [40]:
def mean(n):
    s=0
    for i in n:
        s=s+int(i)
    return int(s/len(n))
n=input()
mean(n)

42

3